html, body {
  font-family: proxima-nova,"Helvetica Neue",Helvetica,Arial,sans-serif;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  background: #fff;
  height: 100%;
  width: 100%;
}

.header {
  text-align: center;
  font-size: 18pt;
  height: 250px;
}

.header h1 {
  margin-top: 75px;
  margin-bottom: 5px;
  font-size: 60pt;
  font-family: "Pacifico";
  font-weight: normal;
  color: #3190e7;
  color: #45d2b0;
}

.right {
  float: right;
}

.left {
  float: left;
}

.showcase {
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  padding: 25px;
}

.showcase img {
  width: 100%;
}

.showcase h1 {
  color: #bbb;
  font-size: 48px;
  margin-top: 0px;
}

.opensource {
  background: #ccf;
}

.about {
  /* Background pattern from subtlepatterns.com */
  /*
  background-image: url('images/knitting250px.png');
  background-image: url('http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/little_pluses.png');
  background-image: url('http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/wild_flowers.png');
  */
  background-image: url('http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/symphony.png');
  background-attachment: fixed;
  background-color: rgba(69, 210, 176, 0.5);
}

.me {
  float: left;
  margin-right: 25px;
}

.section {
  text-align: justify;
}

.contact {
  background: #222;
  color: #fff;
}

.screenshot {
  max-width: 350px;
  margin-left: 20px;
  margin-right: 20px;
}
  
